/////////////////////////////////////////////////////////
//                                                     //
//          888888888               000000000          //
//        88:::::::::88           00:::::::::00        //
//      88:::::::::::::88       00:::::::::::::00      //
//     8::::::88888::::::8     0:::::::000:::::::0     //
//     8:::::8     8:::::8     0::::::0   0::::::0     //
//     8:::::8     8:::::8     0:::::0     0:::::0     //
//      8:::::88888:::::8      0:::::0     0:::::0     //
//       8:::::::::::::8       0:::::0 000 0:::::0     //
//      8:::::88888:::::8      0:::::0 000 0:::::0     //
//     8:::::8     8:::::8     0:::::0     0:::::0     //
//     8:::::8     8:::::8     0:::::0     0:::::0     //
//     8:::::8     8:::::8     0::::::0   0::::::0     //
//     8::::::88888::::::8     0:::::::000:::::::0     //
//      88:::::::::::::88       00:::::::::::::00      //
//        88:::::::::88           00:::::::::00        //
//          888888888               000000000          //
//                                                     //
//                     EIGHT ZERO                      //
//                  An ENB by TreyM                    //
//                                                     //
/////////////////////////////////////////////////////////

// ENB QUALITY ///////////////////////////////////
    #define ENB_QUALITY 1
